<!--
  Generated template for the CounterEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>counter-edit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #form="ngForm" (ngSubmit)="handleSubmit(form.value)">
    <ion-input name='title' placeholder='Title' required ngModel></ion-input>
    <ion-input name='value' type='number' step='1' pattern='\d+' placeholder='Value' required ngModel></ion-input>
    <button ion-button>Submit</button>
  </form>
</ion-content>
