<!-- Generated template for the CounterListComponent component -->
<div>
  <ion-list *ngFor='let counter of counters'>
    <counter [counter]='counter'></counter>
  </ion-list>
  <ion-fab right bottom>
    <button (click)='addCounter()' ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</div>
